USE [ql_tv]
GO
/****** Object:  DatabaseRole [FullAccessRole]    Script Date: 12/8/2024 11:45:52 PM ******/
CREATE ROLE [FullAccessRole]
GO
/****** Object:  DatabaseRole [NhanVien]    Script Date: 12/8/2024 11:45:52 PM ******/
CREATE ROLE [NhanVien]
GO
/****** Object:  DatabaseRole [Users]    Script Date: 12/8/2024 11:45:52 PM ******/
CREATE ROLE [Users]
GO
/****** Object:  UserDefinedFunction [dbo].[F_CheckUserInRole]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tạo FUNCTION

CREATE FUNCTION [dbo].[F_CheckUserInRole]
(
    @login NVARCHAR(128),  -- Tham số đầu vào: tên login
    @role NVARCHAR(128)    -- Tham số đầu vào: tên vai trò
)
RETURNS NVARCHAR(128)  -- Hàm trả về tên người dùng
AS
BEGIN
    DECLARE @username NVARCHAR(128);

    SELECT @username = u.name  -- Lấy tên người dùng
    FROM sys.database_role_members rm
    JOIN sys.database_principals u ON rm.member_principal_id = u.principal_id
    JOIN sys.server_principals l ON u.sid = l.sid
    WHERE rm.role_principal_id = DATABASE_PRINCIPAL_ID(@role)
      AND l.name = @login;

    RETURN @username;  -- Trả về tên người dùng hoặc NULL
END;
GO
/****** Object:  UserDefinedFunction [dbo].[F_KiemTraTrangThai]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_KiemTraTrangThai](@Username NVARCHAR(50))
RETURNS BIT
AS
BEGIN
     IF EXISTS (
        SELECT 1 
        FROM TRANGTHAI_DANGNHAP 
        WHERE USER_NAME = @Username
    )
    BEGIN
       RETURN 1;
    END

    RETURN 0;
END;
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [int] IDENTITY(1,1) NOT NULL,
	[TENSACH] [nvarchar](255) NOT NULL,
	[TACGIA] [nvarchar](255) NOT NULL,
	[THELOAI] [nvarchar](100) NULL,
	[NAMXUATBAN] [int] NULL,
	[NHAXUATBAN] [nvarchar](255) NULL,
	[TONTAI] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SachConTonTai]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tạo VIEW

CREATE VIEW [dbo].[vw_SachConTonTai] AS
SELECT MASACH, TENSACH, TACGIA, THELOAI, NAMXUATBAN, NHAXUATBAN
FROM SACH
WHERE TONTAI = 1;
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MADG] [int] IDENTITY(1,1) NOT NULL,
	[TENDG] [nvarchar](255) NOT NULL,
	[DIACHI] [nvarchar](255) NULL,
	[DIENTHOAI] [varchar](15) NOT NULL,
	[TONTAI] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DocGiaConTonTai]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_DocGiaConTonTai] AS
SELECT MADG, TENDG, DIACHI, DIENTHOAI
FROM DOCGIA
WHERE TONTAI = 1;
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](255) NOT NULL,
	[CHUCVU] [nvarchar](100) NULL,
	[DIENTHOAI] [nvarchar](15) NULL,
	[NGAYVAOLAM] [date] NULL,
	[TONTAI] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_NhanVienConTonTai]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_NhanVienConTonTai] AS
SELECT MANV, TENNV, CHUCVU, DIENTHOAI, NGAYVAOLAM
FROM NHANVIEN
WHERE TONTAI = 1;
GO
/****** Object:  View [dbo].[vw_SachConTonTaiVaCot]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------
create view [dbo].[vw_SachConTonTaiVaCot] as
SELECT 'MASACH' AS MASACH, 'TENSACH' AS TENSACH, 'TACGIA' AS TACGIA, 'THELOAI' AS THELOAI, 
       'NAMXUATBAN' AS NAMXUATBAN, 'NHAXUATBAN' AS NHAXUATBAN
UNION ALL
SELECT CAST(MASACH AS NVARCHAR), TENSACH, TACGIA, THELOAI, 
       CAST(NAMXUATBAN AS NVARCHAR), NHAXUATBAN
FROM vw_SachConTonTai;
GO
/****** Object:  View [dbo].[vw_DocGiaConTonTaiVaCot]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_DocGiaConTonTaiVaCot] AS
SELECT 'MADG' AS MADG, 'TENDG' AS TENDG, 'DIACHI' AS DIACHI, 'DIENTHOAI' AS DIENTHOAI
UNION ALL
SELECT CAST(MADG AS NVARCHAR), TENDG, DIACHI, DIENTHOAI
FROM vw_DocGiaConTonTai
GO
/****** Object:  View [dbo].[vw_NhanVienConTonTaiVaCot]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_NhanVienConTonTaiVaCot] AS
SELECT 'MANV' AS MANV, 'TENNV' AS TENNV, 'CHUCVU' AS CHUCVU, 'DIENTHOAI' AS DIENTHOAI, 'NGAYVAOLAM' AS NGAYVAOLAM
UNION ALL
SELECT CAST(MANV AS NVARCHAR), TENNV, CHUCVU, DIENTHOAI, CAST(NGAYVAOLAM AS NVARCHAR)
FROM vw_NhanVienConTonTai
GO
/****** Object:  Table [dbo].[MUONTRA]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUONTRA](
	[MAMUONTRA] [int] IDENTITY(1,1) NOT NULL,
	[MASACH] [int] NOT NULL,
	[MADG] [int] NOT NULL,
	[MANV] [int] NOT NULL,
	[NGAYMUON] [datetime2](0) NOT NULL,
	[NGAYTRA] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMUONTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_MuonTraVaCot]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_MuonTraVaCot] AS
SELECT 'MAMUONTRA' AS MAMUONTRA, 'MASACH' AS MASACH, 'MADG' AS MADG, 'MANV' AS MANV, 'NGAYMUON' AS NGAYMUON, 'NGAYTRA' AS NGAYTRA
UNION ALL
SELECT CAST(MAMUONTRA AS NVARCHAR), CAST(MASACH AS NVARCHAR), CAST(MADG AS NVARCHAR), CAST(MANV AS NVARCHAR), 
       CAST(NGAYMUON AS NVARCHAR), ISNULL(CAST(NGAYTRA AS NVARCHAR), 'NULL')
FROM MUONTRA;
GO
/****** Object:  View [dbo].[vw_import_SACH]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------
CREATE VIEW [dbo].[vw_import_SACH] AS
SELECT 
    TENSACH, 
    TACGIA, 
    THELOAI, 
    NAMXUATBAN, 
    NHAXUATBAN 
FROM SACH;
GO
/****** Object:  View [dbo].[vw_import_DOCGIA]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_import_DOCGIA] AS
SELECT 
    TENDG, 
    DIACHI, 
    DIENTHOAI 
FROM DOCGIA;
GO
/****** Object:  View [dbo].[vw_import_NHANVIEN]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_import_NHANVIEN] AS
SELECT 
    TENNV, 
    CHUCVU, 
    DIENTHOAI, 
    NGAYVAOLAM 
FROM NHANVIEN;
GO
/****** Object:  View [dbo].[vw_import_MUONTRA]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_import_MUONTRA] AS
SELECT 
    MASACH, 
    MADG, 
    MANV, 
    NGAYMUON, 
    NGAYTRA 
FROM MUONTRA;
GO
/****** Object:  View [dbo].[vw_DocGiaMuonNhieuNhat]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------
create VIEW [dbo].[vw_DocGiaMuonNhieuNhat] AS
SELECT 
    DOCGIA.*, 
    COUNT(MUONTRA.MADG) AS SoLanMuon 
FROM 
    docgia
JOIN 
    MUONTRA ON DOCGIA.MADG = MUONTRA.MADG
WHERE 
    DOCGIA.MADG IN (
        SELECT TOP 1 WITH TIES MUONTRA.MADG
        FROM MUONTRA
        GROUP BY MUONTRA.MADG
        ORDER BY COUNT(*) DESC
    )
GROUP BY 
    DOCGIA.MADG, DOCGIA.TENDG, DOCGIA.DIACHI, DOCGIA.DIENTHOAI, DOCGIA.TONTAI;
GO
/****** Object:  View [dbo].[vw_NhanVienChoMuonNhieuNhat]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create VIEW [dbo].[vw_NhanVienChoMuonNhieuNhat] AS
SELECT 
    NHANVIEN.*, 
    COUNT(MUONTRA.MANV) AS SoLanChoMuon 
FROM 
    NHANVIEN
JOIN 
    MUONTRA ON NHANVIEN.MANV = MUONTRA.MANV
WHERE 
    NHANVIEN.MANV IN (
        SELECT TOP 1 WITH TIES MUONTRA.MANV 
        FROM MUONTRA
        GROUP BY MUONTRA.MANV
        ORDER BY COUNT(*) DESC
    )
GROUP BY 
    NHANVIEN.MANV, NHANVIEN.TENNV, NHANVIEN.CHUCVU, NHANVIEN.DIENTHOAI, NHANVIEN.NGAYVAOLAM, NHANVIEN.TONTAI;
GO
/****** Object:  View [dbo].[vw_SachDuocMuonNhieuNhat]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_SachDuocMuonNhieuNhat] AS
SELECT 
    SACH.*, 
    COUNT(MUONTRA.MASACH) AS SoLanMuon 
FROM 
    SACH
JOIN 
    MUONTRA ON SACH.MASACH = MUONTRA.MASACH
WHERE 
    SACH.MASACH IN (
        SELECT TOP 1 WITH TIES MUONTRA.MASACH 
        FROM MUONTRA
        GROUP BY MUONTRA.MASACH
        ORDER BY COUNT(*) DESC
    )
GROUP BY 
    SACH.MASACH, SACH.TENSACH, SACH.TACGIA, SACH.THELOAI, SACH.NAMXUATBAN, SACH.NHAXUATBAN, SACH.TONTAI;
GO
/****** Object:  View [dbo].[vw_ThongTinDocGiaMuonSach]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------------------------------------------
CREATE VIEW [dbo].[vw_ThongTinDocGiaMuonSach] AS
SELECT dg.MADG, dg.TENDG, dg.DIACHI, dg.DIENTHOAI, mt.NGAYMUON, s.TENSACH, s.TACGIA
FROM DOCGIA dg
JOIN MUONTRA mt ON dg.MADG = mt.MADG
JOIN SACH s ON mt.MASACH = s.MASACH;
GO
/****** Object:  View [dbo].[vw_TongHopSachTheoTheLoai]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--CREATE VIEW vw_ThongTinDocGiaMuonSachSapXepTheoThuTu AS
--SELECT dg.MADG, dg.TENDG, dg.DIACHI, dg.DIENTHOAI, COUNT(mt.MASACH) AS SoLuongSachMuon
--FROM DOCGIA dg
--JOIN MUONTRA mt ON dg.MADG = mt.MADG
--GROUP BY dg.MADG, dg.TENDG, dg.DIACHI, dg.DIENTHOAI
--ORDER BY SoLuongSachMuon DESC;
--GO

CREATE VIEW [dbo].[vw_TongHopSachTheoTheLoai] AS
SELECT THELOAI, COUNT(*) AS SoLuongSach
FROM vw_SachConTonTai
GROUP BY THELOAI;
GO
/****** Object:  UserDefinedFunction [dbo].[F_GetReadersByBorrowDate]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------------------------------------------
CREATE FUNCTION [dbo].[F_GetReadersByBorrowDate](@BorrowDate DATE)
RETURNS TABLE
AS
RETURN
(
    SELECT *
    FROM vw_ThongTinDocGiaMuonSach
    WHERE NGAYMUON = @BorrowDate
);
GO
/****** Object:  UserDefinedFunction [dbo].[F_LaySachDuocMuonTrongSoNgay]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[F_LaySachDuocMuonTrongSoNgay](@SoNgay INT)
RETURNS TABLE
AS
RETURN
(
    SELECT top 10 s.MASACH, s.TENSACH, s.TACGIA, COUNT(mt.MAMUONTRA) AS SoLanMuon
    FROM SACH s
    JOIN MUONTRA mt ON s.MASACH = mt.MASACH
    WHERE @SoNgay > 0 
		  AND mt.NGAYMUON >= DATEADD(DAY, -@SoNgay, GETDATE())  -- Tính ngày bắt đầu
    GROUP BY s.MASACH, s.TENSACH, s.TACGIA
    ORDER BY SoLanMuon DESC  -- Sắp xếp theo số lần mượn giảm dần
);
GO
/****** Object:  UserDefinedFunction [dbo].[F_LayThongTinDocGiaMuonSach]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[F_LayThongTinDocGiaMuonSach](@MASACH INT, @NGAYMUON DATE)
RETURNS TABLE
AS
RETURN (
    SELECT dg.MADG, dg.TENDG, dg.DIACHI, dg.DIENTHOAI, 
			s.MASACH, s.TENSACH, mt.NGAYMUON
    FROM DOCGIA dg
    JOIN MUONTRA mt ON mt.MADG = dg.MADG
    JOIN SACH s ON mt.MASACH = s.MASACH
    WHERE s.MASACH = @MASACH AND mt.NGAYMUON = @NGAYMUON
);
GO
/****** Object:  UserDefinedFunction [dbo].[F_GetReadersByBookType]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[F_GetReadersByBookType](@THELOAI NVARCHAR(100))
RETURNS TABLE
AS
RETURN
(
    SELECT * FROM DOCGIA WHERE MADG IN (
        SELECT MADG FROM MUONTRA WHERE MASACH IN (
            SELECT MASACH FROM SACH WHERE THELOAI = @THELOAI
        )
    )
);
GO
/****** Object:  UserDefinedFunction [dbo].[F_LaySachTheoTenSach]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--tim kiem sach
CREATE FUNCTION [dbo].[F_LaySachTheoTenSach](@TENSACH NVARCHAR(100))
RETURNS TABLE
AS
RETURN (
    SELECT MASACH, TENSACH, TACGIA, THELOAI, NAMXUATBAN, NHAXUATBAN 
    FROM SACH 
    WHERE TENSACH = @TENSACH
);
GO
/****** Object:  UserDefinedFunction [dbo].[F_LaySachTheoTheLoai]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[F_LaySachTheoTheLoai](@THELOAI NVARCHAR(100))
RETURNS TABLE
AS
RETURN (
    SELECT MASACH, TENSACH, TACGIA, THELOAI, NAMXUATBAN, NHAXUATBAN 
    FROM SACH 
    WHERE THELOAI = @THELOAI
);
GO
/****** Object:  UserDefinedFunction [dbo].[F_LaySachTheoTacGia]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[F_LaySachTheoTacGia](@TACGIA NVARCHAR(100))
RETURNS TABLE
AS
RETURN (
    SELECT MASACH, TENSACH, TACGIA, THELOAI, NAMXUATBAN, NHAXUATBAN 
    FROM SACH 
    WHERE TACGIA = @TACGIA
);

GO
/****** Object:  UserDefinedFunction [dbo].[F_LaySachTheoNamXuatBan]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[F_LaySachTheoNamXuatBan](@NAMXUATBAN INT)
RETURNS TABLE
AS
RETURN (
    SELECT MASACH, TENSACH, TACGIA, THELOAI, NAMXUATBAN, NHAXUATBAN 
    FROM SACH 
    WHERE NAMXUATBAN = @NAMXUATBAN
);
GO
/****** Object:  UserDefinedFunction [dbo].[F_LaySachTheoNhaXuatBan]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[F_LaySachTheoNhaXuatBan](@NHAXUATBAN NVARCHAR(100))
RETURNS TABLE
AS
RETURN (
    SELECT MASACH, TENSACH, TACGIA, THELOAI, NAMXUATBAN, NHAXUATBAN 
    FROM SACH 
    WHERE NHAXUATBAN = @NHAXUATBAN
);
GO
/****** Object:  UserDefinedFunction [dbo].[F_GetUserAndRoleByLogin]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[F_GetUserAndRoleByLogin]
(
    @LoginName NVARCHAR(255)  -- Tham số đầu vào là tên login
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        dp.name AS UserName,
        drp.name AS RoleName
    FROM 
        sys.database_principals dp
    JOIN 
        sys.database_role_members drm ON dp.principal_id = drm.member_principal_id
    JOIN 
        sys.database_principals drp ON drm.role_principal_id = drp.principal_id
    WHERE 
        dp.SID = (SELECT SID FROM sys.server_principals WHERE name = @LoginName)
        AND dp.type IN ('S', 'U')  -- Chỉ lấy các user có thể đăng nhập
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetActiveUsers]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetActiveUsers]()
RETURNS TABLE
AS
RETURN
(
    SELECT p.name 
    FROM sys.database_principals p
    WHERE p.type IN ('S', 'U')  -- Loại người dùng: SQL login và Windows login
      AND p.name NOT IN ('dbo', 'guest', 'sys', 'INFORMATION_SCHEMA')  -- Loại bỏ các người dùng hệ thống
);
GO
/****** Object:  Table [dbo].[QuyenNguoiDung]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyenNguoiDung](
	[UserName] [nvarchar](255) NOT NULL,
	[QuyenSelect] [bit] NOT NULL,
	[QuyenInsert] [bit] NOT NULL,
	[QuyenAll] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAI_DANGNHAP]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAI_DANGNHAP](
	[USER_NAME] [nvarchar](255) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DOCGIA] ON 

INSERT [dbo].[DOCGIA] ([MADG], [TENDG], [DIACHI], [DIENTHOAI], [TONTAI]) VALUES (1, N'Nguyễn Văn A', N'123 Đường A, Quận 1, TP.HCM', N'0123456789', 1)
INSERT [dbo].[DOCGIA] ([MADG], [TENDG], [DIACHI], [DIENTHOAI], [TONTAI]) VALUES (2, N'Trần Thị B', N'456 Đường B, Quận 2, TP.HCM', N'0987654321', 1)
INSERT [dbo].[DOCGIA] ([MADG], [TENDG], [DIACHI], [DIENTHOAI], [TONTAI]) VALUES (3, N'Lê Văn C', N'789 Đường C, Quận 3, TP.HCM', N'0912345678', 1)
SET IDENTITY_INSERT [dbo].[DOCGIA] OFF
GO
SET IDENTITY_INSERT [dbo].[MUONTRA] ON 

INSERT [dbo].[MUONTRA] ([MAMUONTRA], [MASACH], [MADG], [MANV], [NGAYMUON], [NGAYTRA]) VALUES (1, 1, 1, 1, CAST(N'2024-09-01T00:00:00.0000000' AS DateTime2), CAST(N'2024-09-15T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[MUONTRA] ([MAMUONTRA], [MASACH], [MADG], [MANV], [NGAYMUON], [NGAYTRA]) VALUES (2, 2, 2, 2, CAST(N'2024-09-05T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[MUONTRA] ([MAMUONTRA], [MASACH], [MADG], [MANV], [NGAYMUON], [NGAYTRA]) VALUES (3, 3, 3, 3, CAST(N'2024-09-10T00:00:00.0000000' AS DateTime2), CAST(N'2024-09-20T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MUONTRA] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU], [DIENTHOAI], [NGAYVAOLAM], [TONTAI]) VALUES (1, N'Nguyễn Văn D', N'Quản lý', N'0122334455', CAST(N'2023-01-15' AS Date), 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU], [DIENTHOAI], [NGAYVAOLAM], [TONTAI]) VALUES (2, N'Trần Thị E', N'Nhân viên', N'0223344556', CAST(N'2024-10-24' AS Date), 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU], [DIENTHOAI], [NGAYVAOLAM], [TONTAI]) VALUES (3, N'Phạm Văn F', N'Nhân viên', N'0334455667', CAST(N'2023-02-20' AS Date), 1)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
INSERT [dbo].[QuyenNguoiDung] ([UserName], [QuyenSelect], [QuyenInsert], [QuyenAll]) VALUES (N'12', 0, 0, 1)
INSERT [dbo].[QuyenNguoiDung] ([UserName], [QuyenSelect], [QuyenInsert], [QuyenAll]) VALUES (N'45', 1, 0, 1)
INSERT [dbo].[QuyenNguoiDung] ([UserName], [QuyenSelect], [QuyenInsert], [QuyenAll]) VALUES (N'ee', 1, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[SACH] ON 

INSERT [dbo].[SACH] ([MASACH], [TENSACH], [TACGIA], [THELOAI], [NAMXUATBAN], [NHAXUATBAN], [TONTAI]) VALUES (1, N'Khoa học vũ trụ', N'Stephen Hawking', N'Khoa học', 2016, N'Nhà xuất bản Thế giới', 0)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [TACGIA], [THELOAI], [NAMXUATBAN], [NHAXUATBAN], [TONTAI]) VALUES (2, N'Người dơi', N'Philip Pullman', N'Tâm lý', 2015, N'Nhà xuất bản Văn học', 1)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [TACGIA], [THELOAI], [NAMXUATBAN], [NHAXUATBAN], [TONTAI]) VALUES (3, N'Giáo dục toàn diện', N'Trần Đình Hưng', N'Giáo dục', 2020, N'Nhà xuất bản Giáo dục', 1)
SET IDENTITY_INSERT [dbo].[SACH] OFF
GO
INSERT [dbo].[TRANGTHAI_DANGNHAP] ([USER_NAME], [TRANGTHAI]) VALUES (N'45', 1)
INSERT [dbo].[TRANGTHAI_DANGNHAP] ([USER_NAME], [TRANGTHAI]) VALUES (N'dbo', 1)
INSERT [dbo].[TRANGTHAI_DANGNHAP] ([USER_NAME], [TRANGTHAI]) VALUES (N'lan', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DOCGIA__9D6E20166AED683A]    Script Date: 12/8/2024 11:45:52 PM ******/
ALTER TABLE [dbo].[DOCGIA] ADD UNIQUE NONCLUSTERED 
(
	[DIENTHOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__MUONTRA__7997EC2D20A0DB76]    Script Date: 12/8/2024 11:45:52 PM ******/
ALTER TABLE [dbo].[MUONTRA] ADD UNIQUE NONCLUSTERED 
(
	[MASACH] ASC,
	[MADG] ASC,
	[MANV] ASC,
	[NGAYMUON] ASC,
	[NGAYTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHANVIEN__9D6E2016DC952B67]    Script Date: 12/8/2024 11:45:52 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[DIENTHOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SACH__0CC026B4FC4EDADC]    Script Date: 12/8/2024 11:45:52 PM ******/
ALTER TABLE [dbo].[SACH] ADD UNIQUE NONCLUSTERED 
(
	[TENSACH] ASC,
	[TACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DOCGIA] ADD  DEFAULT ((1)) FOR [TONTAI]
GO
ALTER TABLE [dbo].[MUONTRA] ADD  DEFAULT (getdate()) FOR [NGAYMUON]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (N'Nhân viên') FOR [CHUCVU]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (getdate()) FOR [NGAYVAOLAM]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((1)) FOR [TONTAI]
GO
ALTER TABLE [dbo].[SACH] ADD  DEFAULT ((1)) FOR [TONTAI]
GO
ALTER TABLE [dbo].[TRANGTHAI_DANGNHAP] ADD  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[MUONTRA]  WITH CHECK ADD  CONSTRAINT [FK_MUONTRA_DOCGIA] FOREIGN KEY([MADG])
REFERENCES [dbo].[DOCGIA] ([MADG])
GO
ALTER TABLE [dbo].[MUONTRA] CHECK CONSTRAINT [FK_MUONTRA_DOCGIA]
GO
ALTER TABLE [dbo].[MUONTRA]  WITH CHECK ADD  CONSTRAINT [FK_MUONTRA_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[MUONTRA] CHECK CONSTRAINT [FK_MUONTRA_NHANVIEN]
GO
ALTER TABLE [dbo].[MUONTRA]  WITH CHECK ADD  CONSTRAINT [FK_MUONTRA_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[MUONTRA] CHECK CONSTRAINT [FK_MUONTRA_SACH]
GO
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD  CONSTRAINT [chk_DienThoai_DocGia] CHECK  (([DIENTHOAI] like '[0-9]%' AND (len([DIENTHOAI])>=(10) AND len([DIENTHOAI])<=(15))))
GO
ALTER TABLE [dbo].[DOCGIA] CHECK CONSTRAINT [chk_DienThoai_DocGia]
GO
ALTER TABLE [dbo].[MUONTRA]  WITH CHECK ADD CHECK  (([NGAYTRA] IS NULL OR [NGAYTRA]>=[NGAYMUON]))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [chk_DienThoai_NhanVien] CHECK  (([DIENTHOAI] like '[0-9]%' AND (len([DIENTHOAI])>=(10) AND len([DIENTHOAI])<=(15))))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [chk_DienThoai_NhanVien]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddOrUpdateUserPermissions]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddOrUpdateUserPermissions]
    @UserName NVARCHAR(255),  -- Tên người dùng
    @QuyenSelect BIT = null,   -- Quyền SELECT
    @QuyenInsert BIT = null,   -- Quyền INSERT
    @QuyenAll BIT = null       -- Quyền ALL
AS
BEGIN
    BEGIN TRY
        -- Kiểm tra người dùng có tồn tại trong bảng QuyenNguoiDung không
        IF EXISTS (SELECT 1 FROM QuyenNguoiDung WHERE UserName = @UserName)
        BEGIN
            -- Nếu người dùng đã tồn tại thì thực hiện cập nhật quyền
            UPDATE QuyenNguoiDung
            SET 
                QuyenSelect = ISNULL(@QuyenSelect, QuyenSelect),  -- Cập nhật quyền SELECT nếu có
                QuyenInsert = ISNULL(@QuyenInsert, QuyenInsert),  -- Cập nhật quyền INSERT nếu có
                QuyenAll = ISNULL(@QuyenAll, QuyenAll)           -- Cập nhật quyền ALL nếu có
            WHERE UserName = @UserName;

            PRINT 'Quyền của người dùng đã được cập nhật.';
        END
        ELSE
        BEGIN
            -- Nếu người dùng chưa tồn tại thì thực hiện thêm mới quyền
            INSERT INTO QuyenNguoiDung (UserName, QuyenSelect, QuyenInsert, QuyenAll)
            VALUES (@UserName, @QuyenSelect, @QuyenInsert, @QuyenAll);

            PRINT 'Quyền của người dùng đã được thêm mới.';
        END
    END TRY
    BEGIN CATCH
        -- Xử lý lỗi nếu có
        PRINT 'Đã xảy ra lỗi: ' + ERROR_MESSAGE();
        RETURN;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddUserToRole]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------------------------------------------------
CREATE PROCEDURE [dbo].[SP_AddUserToRole]
    @Username NVARCHAR(255),  -- Tên người dùng
    @RoleName NVARCHAR(255)    -- Tên vai trò mới
AS
BEGIN
    DECLARE @CurrentRole NVARCHAR(255);

    -- Lấy vai trò hiện tại của người dùng
    SELECT @CurrentRole = dp.name
    FROM sys.database_role_members drm
    JOIN sys.database_principals dp ON drm.role_principal_id = dp.principal_id
    JOIN sys.database_principals u ON drm.member_principal_id = u.principal_id
    WHERE u.name = @Username;

    -- Nếu người dùng đã thuộc vai trò khác, xóa họ khỏi vai trò đó
    IF @CurrentRole IS NOT NULL AND @CurrentRole <> @RoleName
    BEGIN
        DECLARE @Sql NVARCHAR(500);
        SET @Sql = 'EXEC sp_droprolemember ''' + @CurrentRole + ''', ''' + @Username + ''';';
        EXEC sp_executesql @Sql;
    END

    -- Thêm người dùng vào vai trò mới
    DECLARE @AddSql NVARCHAR(500);
    SET @AddSql = 'EXEC sp_addrolemember ''' + @RoleName + ''', ''' + @Username + ''';';
    EXEC sp_executesql @AddSql;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CapNhatDocGia]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CapNhatDocGia]
    @MADG INT,
    @TENDG NVARCHAR(255),
    @DIACHI NVARCHAR(255),
    @DIENTHOAI NVARCHAR(15)
AS
BEGIN
    --SET NOCOUNT ON;

    UPDATE DOCGIA
    SET 
        TENDG = @TENDG,
        DIACHI = @DIACHI,
        DIENTHOAI = @DIENTHOAI
    WHERE MADG = @MADG;

    PRINT 'Cập nhật bảng DOCGIA thành công!'
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CapNhatMuonTra]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CapNhatMuonTra]
    @MAMUONTRA INT,
    @MASACH INT,
    @MADG INT,
    @MANV INT,
    @NGAYMUON DATE,
    @NGAYTRA DATE
AS
BEGIN
    --SET NOCOUNT ON;

    UPDATE MUONTRA
    SET 
        MASACH = @MASACH,
        MADG = @MADG,
        MANV = @MANV,
        NGAYMUON = @NGAYMUON,
        NGAYTRA = @NGAYTRA
    WHERE MAMUONTRA = @MAMUONTRA;

    PRINT 'Cập nhật bảng MUONTRA thành công!'
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CapNhatNhanVien]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CapNhatNhanVien]
    @MANV INT,
    @TENNV NVARCHAR(255),
    @CHUCVU NVARCHAR(100),
    @DIENTHOAI NVARCHAR(15),
    @NGAYVAOLAM DATE
AS
BEGIN
    --SET NOCOUNT ON;

    UPDATE NHANVIEN
    SET 
        TENNV = @TENNV,
        CHUCVU = @CHUCVU,
        DIENTHOAI = @DIENTHOAI,
        NGAYVAOLAM = @NGAYVAOLAM
    WHERE MANV = @MANV;

    PRINT 'Cập nhật bảng NHANVIEN thành công!'
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CapNhatSach]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------------------------------------
CREATE PROCEDURE [dbo].[SP_CapNhatSach]
    @MASACH INT,
    @TENSACH NVARCHAR(255),
    @TACGIA NVARCHAR(255),
    @THELOAI NVARCHAR(100),
    @NAMXUATBAN INT,
    @NHAXUATBAN NVARCHAR(255)
AS
BEGIN
    --SET NOCOUNT ON;

    UPDATE SACH
    SET 
        TENSACH = @TENSACH,
        TACGIA = @TACGIA,
        THELOAI = @THELOAI,
        NAMXUATBAN = @NAMXUATBAN,
        NHAXUATBAN = @NHAXUATBAN
    WHERE MASACH = @MASACH;

    PRINT N'Cập nhật bảng SACH thành công!'
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CapNhatTonTaiDocGia]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CapNhatTonTaiDocGia]
    @MADG INT
AS
BEGIN
    -- Kiểm tra độc giả có tồn tại không
    IF EXISTS (SELECT 1 FROM DOCGIA WHERE MADG = @MADG AND TONTAI = 1)
    BEGIN
        UPDATE DOCGIA 
        SET TONTAI = 0  -- Cập nhật trạng thái độc giả thành đã xóa
        WHERE MADG = @MADG;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CapNhatTonTaiNhanVien]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CapNhatTonTaiNhanVien]
    @MANV INT
AS
BEGIN
    -- Kiểm tra nhân viên có tồn tại không
    IF EXISTS (SELECT 1 FROM NHANVIEN WHERE MANV = @MANV AND TONTAI = 1)
    BEGIN
        UPDATE NHANVIEN 
        SET TONTAI = 0  -- Cập nhật trạng thái nhân viên thành đã xóa
        WHERE MANV = @MANV;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CapNhatTonTaiSach]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------------------------------------------
CREATE PROCEDURE [dbo].[SP_CapNhatTonTaiSach]
    @MASACH INT
AS
BEGIN
    -- Kiểm tra sách có tồn tại không
    IF EXISTS (SELECT 1 FROM SACH WHERE MASACH = @MASACH AND TONTAI = 1)
    BEGIN
        UPDATE SACH 
        SET TONTAI = 0  -- Cập nhật trạng thái sách thành đã xóa
        WHERE MASACH = @MASACH;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateUser]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SP_CreateUser]
    @LoginName NVARCHAR(50),
    @Password NVARCHAR(50),
    @UserName NVARCHAR(50)
AS
BEGIN
    -- Kiểm tra nếu login và user đều không tồn tại
    IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = @LoginName)
       AND NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = @UserName)
    BEGIN
        -- Tạo login
        DECLARE @CreateLogin NVARCHAR(255);
        SET @CreateLogin = N'CREATE LOGIN [' + @LoginName + '] WITH PASSWORD = ''' + @Password + ''', CHECK_POLICY = ON, CHECK_EXPIRATION = OFF';
        EXEC sp_executesql @CreateLogin;

        -- Tạo user cho login
        DECLARE @CreateUser NVARCHAR(255);
        SET @CreateUser = N'CREATE USER [' + @UserName + '] FOR LOGIN [' + @LoginName + ']';
        EXEC sp_executesql @CreateUser;

        -- Thêm user vào role 
        EXEC sp_addrolemember 'Users', @UserName;

        RETURN 1; -- Thành công (1)
    END
    ELSE
    BEGIN
        RETURN 0; -- Không thành công (0)
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DangNhap]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DangNhap]
    @Username NVARCHAR(50)
AS
BEGIN
    -- Begin a transaction to ensure atomicity
    BEGIN TRANSACTION;

    -- Check if the username already exists
    IF NOT EXISTS (
        SELECT 1 
        FROM TRANGTHAI_DANGNHAP 
        WHERE USER_NAME = @Username
    )
    BEGIN
        -- If the username does not exist, insert it
        INSERT INTO TRANGTHAI_DANGNHAP (USER_NAME, TRANGTHAI)
        VALUES (@Username, 1);
    END
    ELSE
    BEGIN
        -- If the username does not exist, insert it
        UPDATE TRANGTHAI_DANGNHAP SET TRANGTHAI = 1 WHERE USER_NAME = @Username;
    END

    -- Commit the transaction
    COMMIT TRANSACTION;
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_DangXuat]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DangXuat]
    @Username NVARCHAR(50)
AS
BEGIN
    -- Begin a transaction to ensure atomicity
    BEGIN TRANSACTION;

    -- If the username does not exist, insert it
    DELETE FROM TRANGTHAI_DANGNHAP WHERE USER_NAME = @Username;

    -- Commit the transaction
    COMMIT TRANSACTION;
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteOrUpdateBooks]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteOrUpdateBooks]
    @MASACH_LIST NVARCHAR(MAX) -- Danh sách mã sách cần xóa, cách nhau bằng dấu phẩy
AS
BEGIN
    -- Bắt đầu transaction
    BEGIN TRANSACTION;

    BEGIN TRY
        -- Tạo bảng tạm để chứa danh sách mã sách
        DECLARE @MASACH_TABLE TABLE (MASACH INT);

        -- Tách danh sách mã sách và chèn vào bảng tạm
        INSERT INTO @MASACH_TABLE (MASACH)
        SELECT value FROM STRING_SPLIT(@MASACH_LIST, ',');

        -- Duyệt từng mã sách trong bảng tạm
        DECLARE @MASACH INT;

        DECLARE product_cursor CURSOR FOR
        SELECT MASACH FROM @MASACH_TABLE;

        OPEN product_cursor;
        FETCH NEXT FROM product_cursor INTO @MASACH;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Kiểm tra xem sản phẩm có tham chiếu trong MUONTRA không (ngày trả là NULL)
            IF EXISTS (SELECT 1 FROM MUONTRA WHERE MASACH = @MASACH)
            BEGIN
                -- Nếu có tham chiếu trong MUONTRA (sách chưa trả), cập nhật trạng thái sản phẩm thành 0
                UPDATE SACH
                SET TONTAI = 0
                WHERE MASACH = @MASACH;
            END
            ELSE
            BEGIN
                -- Nếu không có tham chiếu trong MUONTRA, xóa sản phẩm khỏi bảng SACH
                DELETE FROM SACH WHERE MASACH = @MASACH;
            END

            FETCH NEXT FROM product_cursor INTO @MASACH;
        END

        CLOSE product_cursor;
        DEALLOCATE product_cursor;

        -- Commit transaction nếu tất cả các thao tác thành công
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Rollback transaction nếu có lỗi
        ROLLBACK TRANSACTION;
        -- In thông báo lỗi ra màn hình
        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ExportDataWithBCP]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tạo PROCEDURE

create PROCEDURE [dbo].[sp_ExportDataWithBCP]
    @tableName NVARCHAR(255),  -- Tên bảng cần export
    @filePath NVARCHAR(255)    -- Đường dẫn file output
AS
BEGIN
    -- Kích hoạt advanced options
    EXEC sp_configure 'show advanced options', 1;
    RECONFIGURE;
    -- Kích hoạt xp_cmdshell
    EXEC sp_configure 'xp_cmdshell', 1;
    RECONFIGURE;

	declare @bcpCommand NVARCHAR(255)
    -- Lệnh BCP
    SET @bcpCommand = 'bcp "ql_tv.dbo.' + @tableName + '" out "' + @filePath + '" -c -t "," -T -S "DESKTOP-SMMDH16\SQLEXPRESS" -C 65001';

    -- Gọi lệnh BCP thông qua xp_cmdshell để xuất dữ liệu
    EXEC xp_cmdshell @bcpCommand;

    -- Tắt advanced options
    EXEC sp_configure 'xp_cmdshell', 0;
    RECONFIGURE;
    EXEC sp_configure 'show advanced options', 0;
    RECONFIGURE;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GrantOrRevokePermissions]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GrantOrRevokePermissions]
    @UserName NVARCHAR(255),
    @QuyenSelect BIT,
    @OldQuyenSelect BIT,
    @QuyenInsert BIT,
    @OldQuyenInsert BIT,
    @QuyenAll BIT,
    @OldQuyenAll BIT
AS
BEGIN
    -- Kiểm tra và thay đổi quyền SELECT nếu có thay đổi và không phải NULL
    IF @QuyenSelect IS NOT NULL AND @QuyenSelect != @OldQuyenSelect
    BEGIN
        IF @QuyenSelect = 1
        BEGIN
            EXEC('GRANT SELECT ON SCHEMA::dbo TO [' + @UserName + ']');
        END
        ELSE
        BEGIN
            EXEC('REVOKE SELECT ON SCHEMA::dbo FROM [' + @UserName + ']');
        END
    END

    -- Kiểm tra và thay đổi quyền INSERT nếu có thay đổi và không phải NULL
    IF @QuyenInsert IS NOT NULL AND @QuyenInsert != @OldQuyenInsert
    BEGIN
        IF @QuyenInsert = 1
        BEGIN
            EXEC('GRANT INSERT ON SCHEMA::dbo TO [' + @UserName + ']');
        END
        ELSE
        BEGIN
            EXEC('REVOKE INSERT ON SCHEMA::dbo FROM [' + @UserName + ']');
        END
    END

    -- Kiểm tra và thay đổi quyền ALL nếu có thay đổi và không phải NULL
    IF @QuyenAll IS NOT NULL AND @QuyenAll != @OldQuyenAll
    BEGIN
        IF @QuyenAll = 1
        BEGIN
            EXEC('ALTER ROLE FullAccessRole ADD MEMBER [' + @UserName + ']');
            EXEC('ALTER ROLE Users DROP MEMBER [' + @UserName + ']');
        END
        ELSE
        BEGIN
            EXEC('ALTER ROLE FullAccessRole DROP MEMBER [' + @UserName + ']');
            EXEC('ALTER ROLE Users ADD MEMBER [' + @UserName + ']');
        END
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ImportDataWithBCP]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[sp_ImportDataWithBCP]
	@tableName NVARCHAR(255),  -- Tên bảng cần import
    @filePath NVARCHAR(255)    -- Đường dẫn file input
AS
BEGIN
	-- Kích hoạt advanced options
	EXEC sp_configure 'show advanced options', 1;
	RECONFIGURE;
	-- Kích hoạt xp_cmdshell
	EXEC sp_configure 'xp_cmdshell', 1;
	RECONFIGURE;

    DECLARE @bcpCommand NVARCHAR(4000);
    -- Tạo lệnh BCP với tham số truyền vào
    SET @bcpCommand = 'bcp ql_tv.dbo.' + @tableName + ' in "' + @filePath + '" -c -F2 -C 65001 -t, -T -S "DESKTOP-SMMDH16\SQLEXPRESS"';
    -- Gọi lệnh BCP thông qua xp_cmdshell
    EXEC xp_cmdshell @bcpCommand;

	-- Tắt advanced options
	EXEC sp_configure 'show advanced options', 0;
	RECONFIGURE;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveUserFromDatabase]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RemoveUserFromDatabase]
    @UserName NVARCHAR(255)  -- Tên người dùng cần xóa
AS
BEGIN
    BEGIN TRY
        -- Kiểm tra người dùng có tồn tại trong cơ sở dữ liệu không
        IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = @UserName)
        BEGIN
            PRINT 'Người dùng không tồn tại trong cơ sở dữ liệu.';
            RETURN;
        END

        -- Kiểm tra người dùng có tồn tại trong bảng QuyenNguoiDung không
        IF EXISTS (SELECT 1 FROM QuyenNguoiDung WHERE UserName = @UserName)
        BEGIN
            -- Xóa quyền người dùng trong bảng QuyenNguoiDung
            DELETE FROM QuyenNguoiDung WHERE UserName = @UserName;
            PRINT 'Quyền người dùng đã được xóa khỏi bảng QuyenNguoiDung.';
        END

        -- Xóa người dùng khỏi cơ sở dữ liệu
		DECLARE @sql NVARCHAR(MAX);
		SET @sql = N'DROP USER ' + QUOTENAME(@UserName);
		EXEC sp_executesql @sql;

        PRINT 'Người dùng đã bị xóa thành công khỏi cơ sở dữ liệu và quyền đăng nhập đã bị thu hồi.';
    END TRY
    BEGIN CATCH
        PRINT 'Đã xảy ra lỗi: ' + ERROR_MESSAGE();
        RETURN;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoUser]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TaoUser]
    @UserName NVARCHAR(255)  -- Tên người dùng cần tạo
AS
BEGIN
    BEGIN TRY
        -- Kiểm tra người dùng có tồn tại hay không
        IF EXISTS (SELECT 1 FROM sys.database_principals WHERE name = @UserName)
        BEGIN
            PRINT 'Người dùng đã tồn tại.';
            RETURN;
        END

        -- Tạo người dùng mà không cần login
        DECLARE @sql NVARCHAR(MAX);
		SET @sql = N'CREATE USER ' + QUOTENAME(@UserName) + ' WITHOUT LOGIN;';
		EXEC sp_executesql @sql;

        PRINT 'Người dùng đã được tạo thành công.';
    END TRY
    BEGIN CATCH
        PRINT 'Đã xảy ra lỗi: ' + ERROR_MESSAGE();
        RETURN;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemDocGia]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ThemDocGia]
    @TENDG NVARCHAR(255),
    @DIACHI NVARCHAR(255),
    @DIENTHOAI NVARCHAR(15)
AS
BEGIN
    INSERT INTO DOCGIA (TENDG, DIACHI, DIENTHOAI)
    VALUES (@TENDG, @DIACHI, @DIENTHOAI);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemMuonTra]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ThemMuonTra]
    @MASACH INT,
    @MADG INT,
    @MANV INT,
    @NGAYMUON DATE = NULL
AS
BEGIN
    INSERT INTO MUONTRA (MASACH, MADG, MANV, NGAYMUON)
    VALUES (@MASACH, @MADG, @MANV, ISNULL(@NGAYMUON, GETDATE()));
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemNhanVien]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ThemNhanVien]
    @TENNV NVARCHAR(255),
    @CHUCVU NVARCHAR(100) = N'Nhân viên',
    @DIENTHOAI NVARCHAR(15),
    @NGAYVAOLAM DATE = NULL
AS
BEGIN
    INSERT INTO NHANVIEN (TENNV, CHUCVU, DIENTHOAI, NGAYVAOLAM)
    VALUES (@TENNV, @CHUCVU, @DIENTHOAI, ISNULL(@NGAYVAOLAM, GETDATE()));
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemSach]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------
CREATE PROCEDURE [dbo].[SP_ThemSach]
    @TENSACH NVARCHAR(255),
    @TACGIA NVARCHAR(255),
    @THELOAI NVARCHAR(100),
    @NAMXUATBAN INT,
    @NHAXUATBAN NVARCHAR(255)
AS
BEGIN
    INSERT INTO SACH (TENSACH, TACGIA, THELOAI, NAMXUATBAN, NHAXUATBAN)
    VALUES (@TENSACH, @TACGIA, @THELOAI, @NAMXUATBAN, @NHAXUATBAN);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_XoaMuonTra]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_XoaMuonTra]
    @MAMUONTRA INT
AS
BEGIN
    -- Kiểm tra mượn trả có tồn tại không
    IF EXISTS (SELECT 1 FROM MUONTRA WHERE MAMUONTRA = @MAMUONTRA)
    BEGIN
        DELETE FROM MUONTRA 
        WHERE MAMUONTRA = @MAMUONTRA;  -- Xóa bản ghi mượn trả
    END
END
GO
/****** Object:  Trigger [dbo].[trg_CheckExistenceBeforeInsert]    Script Date: 12/8/2024 11:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tạo TRIGGER

create TRIGGER [dbo].[trg_CheckExistenceBeforeInsert]
ON [dbo].[MUONTRA]
INSTEAD OF INSERT
AS
BEGIN
    -- Kiểm tra từng bản ghi được chèn
    DECLARE @MASACH INT, @MADG INT, @MANV INT, @Count INT, @NGAYMUON DATE, @NGAYTRA DATE;

    -- Sử dụng một cursor hoặc vòng lặp để xử lý từng hàng
    DECLARE cur CURSOR FOR
    SELECT MASACH, MADG, MANV, NGAYMUON, NGAYTRA FROM inserted;

    OPEN cur;
    FETCH NEXT FROM cur INTO @MASACH, @MADG, @MANV, @NGAYMUON, @NGAYTRA;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Kiểm tra sự tồn tại của sách
        IF NOT EXISTS (SELECT * FROM SACH WHERE MASACH = @MASACH AND TONTAI = 1)
        BEGIN
            RAISERROR('Sách không tồn tại hoặc đã bị xóa: %d', 16, 1, @MASACH);
            RETURN;
        END

        -- Kiểm tra sự tồn tại của độc giả
        IF NOT EXISTS (SELECT * FROM DOCGIA WHERE MADG = @MADG AND TONTAI = 1)
        BEGIN
            RAISERROR('Độc giả không tồn tại hoặc đã bị xóa: %d', 16, 1, @MADG);
            RETURN;
        END

        -- Kiểm tra sự tồn tại của nhân viên
        IF NOT EXISTS (SELECT * FROM NHANVIEN WHERE MANV = @MANV AND TONTAI = 1)
        BEGIN
            RAISERROR('Nhân viên không tồn tại hoặc đã bị xóa: %d', 16, 1, @MANV);
            RETURN;
        END

        -- Kiểm tra sách đã được mượn hay chưa
        SET @Count = (SELECT COUNT(*) FROM MUONTRA WHERE MASACH = @MASACH AND NGAYTRA IS NULL);
        IF @Count > 0
        BEGIN
            RAISERROR('Sách đã được mượn trước đó và chưa được trả: %d', 16, 1, @MASACH);
            RETURN;
        END

        -- Nếu tất cả điều kiện thỏa mãn, thêm bản ghi vào MUONTRA
        INSERT INTO MUONTRA (MASACH, MADG, MANV, NGAYMUON, NGAYTRA)
        VALUES (@MASACH, @MADG, @MANV, @NGAYMUON, @NGAYTRA);

        FETCH NEXT FROM cur INTO @MASACH, @MADG, @MANV, @NGAYMUON, @NGAYTRA;
    END

    CLOSE cur;
    DEALLOCATE cur;
END;
GO
ALTER TABLE [dbo].[MUONTRA] ENABLE TRIGGER [trg_CheckExistenceBeforeInsert]
GO
/****** Object:  Trigger [dbo].[trg_AfterInsertGrantPermissions]    Script Date: 12/8/2024 11:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AfterInsertGrantPermissions]
ON [dbo].[QuyenNguoiDung]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    -- Biến lưu trữ thông tin người dùng và quyền
    DECLARE @UserName NVARCHAR(255);
    DECLARE @QuyenSelect BIT;
    DECLARE @QuyenInsert BIT;
    DECLARE @QuyenAll BIT;

    -- Lấy thông tin từ bảng inserted (cập nhật sau khi thay đổi)
    SELECT 
        @UserName = UserName,
        @QuyenSelect = QuyenSelect,
        @QuyenInsert = QuyenInsert,
        @QuyenAll = QuyenAll
    FROM inserted;

    -- Gọi stored procedure để cấp quyền
    EXEC sp_GrantOrRevokePermissions 
        @UserName,
        @QuyenSelect, NULL,
        @QuyenInsert, NULL,
        @QuyenAll, NULL;
END;
GO
ALTER TABLE [dbo].[QuyenNguoiDung] ENABLE TRIGGER [trg_AfterInsertGrantPermissions]
GO
/****** Object:  Trigger [dbo].[trg_AfterUpdateGrantPermissions]    Script Date: 12/8/2024 11:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AfterUpdateGrantPermissions]
ON [dbo].[QuyenNguoiDung]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Biến lưu trữ thông tin người dùng và quyền
    DECLARE @UserName NVARCHAR(255);
    DECLARE @QuyenSelect BIT;
    DECLARE @QuyenInsert BIT;
    DECLARE @QuyenAll BIT;

    -- Biến lưu trữ quyền cũ
    DECLARE @OldQuyenSelect BIT;
    DECLARE @OldQuyenInsert BIT;
    DECLARE @OldQuyenAll BIT;

    -- Lấy thông tin từ bảng deleted (quyền cũ)
    SELECT 
        @OldQuyenSelect = QuyenSelect,
        @OldQuyenInsert = QuyenInsert,
        @OldQuyenAll = QuyenAll
    FROM deleted;

    -- Lấy thông tin từ bảng inserted (quyền mới)
    SELECT 
        @UserName = UserName,
        @QuyenSelect = QuyenSelect,
        @QuyenInsert = QuyenInsert,
        @QuyenAll = QuyenAll
    FROM inserted;

    -- Gọi stored procedure để xử lý cấp hoặc thu hồi quyền
    EXEC sp_GrantOrRevokePermissions 
        @UserName,
        @QuyenSelect, @OldQuyenSelect,
        @QuyenInsert, @OldQuyenInsert,
        @QuyenAll, @OldQuyenAll;
END;
GO
ALTER TABLE [dbo].[QuyenNguoiDung] ENABLE TRIGGER [trg_AfterUpdateGrantPermissions]
GO
